---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar />

  <div class="min-h-screen flex flex-col justify-center items-center">
    <h1 class="text-6xl font-bold">
      Lost & Found Smart Assistant
    </h1>

    <p class="text-xl mt-6">
      AI-powered campus item recovery system
    </p>

    <div class="mt-10 flex gap-4">
      <a
        href="/report-lost"
        class="bg-red-500 text-white px-6 py-3 rounded-lg"
      >
        Report Lost
      </a>

      <a
        href="/report-found"
        class="bg-green-500 text-white px-6 py-3 rounded-lg"
      >
        Report Found
      </a>
    </div>
  </div>
</Layout>