---
---

<html>
  <body>
    <h1>Report Lost Item</h1>

    <form>
      <input
        type="text"
        placeholder="Item Name"
      />

      <br /><br />

      <textarea
        placeholder="Description">
      </textarea>

      <br /><br />

      <input type="file" />

      <br /><br />

      <button>
        Submit
      </button>
    </form>
  </body>
</html>